<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gochinatv.ad" >

    <!-- android:sharedUserId="android.uid.system" -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <user-permission android:name="android.permission.WRITE_SCURE_SETTINGS" />
    <user-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".LoadingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>





        <receiver android:name=".BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY_VALUE}" />

        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="5eb3c4eb651ff25c517b01fd229a33d0" />
        <!-- <activity -->
        <!-- android:name=".MainTestActivity" -->
        <!-- android:screenOrientation="landscape" > -->


        <!-- &lt;!&ndash; <intent-filter> &ndash;&gt; -->
        <!-- &lt;!&ndash; <action android:adVideoName="android.intent.action.MAIN" /> &ndash;&gt; -->


        <!-- &lt;!&ndash; <category android:adVideoName="android.intent.category.LAUNCHER" /> &ndash;&gt; -->
        <!-- &lt;!&ndash; <category android:adVideoName="android.intent.category.HOME" /> &ndash;&gt; -->
        <!-- &lt;!&ndash; <category android:adVideoName="android.intent.category.DEFAULT" /> &ndash;&gt; -->
        <!-- &lt;!&ndash; </intent-filter> &ndash;&gt; -->
        <!-- </activity> -->

        <receiver android:name=".AppInstallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 優先順序 -->
        <receiver
            android:name=".HdmiListener"
            android:process=":remote">
            <intent-filter>
                <action
                    android:name="android.intent.action.HDMI_PLUGGED"
                    android:priority="1" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="GETUI_APP_ID"
            android:value="pHVyx3BqcZ9Y90iERc1952" />
        <meta-data
            android:name="GETUI_APP_KEY"
            android:value="X9Cb2px5o57nqDeI664h32" />
        <meta-data
            android:name="GETUI_APP_SECRET"
            android:value="nNGvbAFyKs6YfqA0BDmVv" />

    </application>

</manifest>